# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# SSH Keys
*.pem
*primary-key*
*secondary-key*
*.pub

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
